body {
      background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url('images/3.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

	  font-family: Monaco, Monospace;
}
form {
  background: white;
  position: absolute;
  border-radius: 10px;
  margin-top: 24%;
  margin-left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding:50px;
  
}
input[type=text], input[type=number] {
  background: #EFEFEF;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}
input[type=text]:focus, input[type=number]:focus {
  background: #D6D6D6;
  outline: none;
}

.registerbtn{
	background-color: black;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: Monaco, Monospace;
}
.registerbtn:hover{
	color:black;
	background-color:#7ABEFF; 
}

@media only screen and (max-width: 1000px){
	form {
		border-radius: 10px;
		margin-left:483px;
		margin-top: 1000px;
		height: auto;
		max-width: 80%;
		min-width: 80%;
		font-size: 55px;
	}
	input[type=text], input[type=number] {
		font-size: 35px;
	}
	.registerbtn{
		margin-top: 10px;
		font-size: 50px;
	}
}


